.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label {
  grid-column: 1;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.amount {
  border: 1px solid black;
  grid-column: 2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}

.items {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center
}

.items-list {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-gap: 1em;
  width: 100%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
